<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Blogs</title>
    <link rel="stylesheet" href="/blogs.css">
</head>

<body>
    <div class="container">
        <h1>All Blogs</h1>
       
    <div class="header-actions">
       
        <div class="create-blog-link">
            <a href="/blog/create" class="btn-create-blog">
                <button>Create New Blog</button>
            </a>
            
        </div>

        
        <div class="logout-link">
            <a href="/blog/logout" class="btn-logout">
                <button>Logout</button>
            </a>
            
        </div>

        <div class="delete-blogs-link">
            <button id="delete-all-blogs" class="btn-delete-all">Delete All Blogs</button>
        </div>
    </div>
    
        <div class="blogs-list"></div>
    </div>

  <script src="/js/blogs.js"></script>

</body>

</html>
